* {
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(98, 131, 139);
}
.radioInput {
    position: absolute;
    visibility: hidden;
}

/* общая оболочка слайдера */
.slider {
    position: relative;
    width: 900px;
    height: 650px;
    overflow: hidden;
}

/* слайды */
.slides {
    display: flex;
    flex-wrap: wrap;
    width: 400%;
    height: 100%;
}

.slide {
    width: 25%;
    transition: .5s;
}

.slide img {
    width: 900px;
    height: 600px;
    border-radius: 15px;
}

/* описание слайдов */

.subscription {
    display: flex;
    width: 400%;
}

.text {
    height: 50px;
    width: 900px;
    transition: .8s;
}

/* навигация слайдов */
.navigation {
    position: absolute;
    display: flex;
    bottom: 15px;
    right: 0;
}

.bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin: 10px;
    transition: .5s;
}
.bar:hover {
    cursor: pointer;
}
.bar:hover .bar-custom {
    background-color: rgb(224, 146, 146);
}

.bar-custom {
    height: 10px;
    width: 10px;
    background-color: #fff;
    border-radius: 50%;
    transition: .5s;
}

/* .bar:not(:last-child) {
    margin-right: 5px;
} */

/* движение слайда */
#radio_1:checked ~ .slide_1 {
    margin-left: 0%;
}
#radio_2:checked ~ .slide_1 {
    margin-left: -25%;
}
#radio_3:checked ~ .slide_1 {
    margin-left: -50%;
}
#radio_4:checked ~ .slide_1 {
    margin-left: -75%;
}

#radio_1:checked ~ .subscription > .text_1 {
    margin-left: 0%;
}
#radio_2:checked ~ .subscription > .text_1 {
    margin-left: -25%;
}
#radio_3:checked ~ .subscription > .text_1 {
    margin-left: -50%;
}
#radio_4:checked ~ .subscription > .text_1 {
    margin-left: -75%;
}

/* стилизация кнопок переключения */

#radio_1:checked ~ .navigation > .bar_1 > .bar-custom {
    border: 2px solid #000;
    background-color: transparent;
}
#radio_1:checked ~ .navigation > .bar_1:hover > .bar-custom {
    border: 2px solid rgb(247, 226, 134);
}

#radio_2:checked ~ .navigation > .bar_2 > .bar-custom {
    border: 2px solid #000;
    background-color: transparent;
}
#radio_2:checked ~ .navigation > .bar_2:hover > .bar-custom {
    border: 2px solid rgb(247, 226, 134);
}

#radio_3:checked ~ .navigation > .bar_3 > .bar-custom {
    border: 2px solid #000;
    background-color: transparent;
}
#radio_3:checked ~ .navigation > .bar_3:hover > .bar-custom {
    border: 2px solid rgb(247, 226, 134);
}

#radio_4:checked ~ .navigation > .bar_4 > .bar-custom {
    border: 2px solid #000;
    background-color: transparent;
}
#radio_4:checked ~ .navigation > .bar_4:hover > .bar-custom {
    border: 2px solid rgb(247, 226, 134);
}